<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/pagina-estudiante" text="" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title mode="md" class="ion-text-center">Asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background-image">
  <!-- Iterar sobre las secciones del usuario -->
  <ion-card class="course" *ngFor="let section of secciones">
    <ion-card-header>
      <ion-card-title>{{ section.codigo }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="progress-bar-container">
        <div class="progress-bar" [style.width]="section.percentage + '%'"></div>
      </div>
      <p>{{ section.cantidadDias }} días / {{ section.scannedCount }} días asistidos</p>
      <p>{{ section.percentage }}%</p>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar color="secondary" mode="md">
  </ion-toolbar>
</ion-footer>

<style>
  .background-image {
    --background: url('assets/img/background.jpg') no-repeat center center / cover;
    height: 100%;
  }

  ion-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }

  .progress-bar-container {
    width: 100%;
    background-color: #f3f3f3;
    height: 10px;
    border-radius: 5px;
    margin: 10px 0;
  }

  .progress-bar {
    height: 100%;
    background-color: #4caf50;
    border-radius: 5px;
  }
</style>
