<ion-header>
  <ion-toolbar color="secondary">
    <ion-title mode="md" class="ion-text-center">Estudiante</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background-image">
  <div class="form-container">
    <div class="button-container">
      <ion-button color="tertiary" expand="block" class="button-item" mode="ios" (click)="goToAsistencia()">
        <ion-icon name="checkmark-outline" slot="start"></ion-icon>
        Ver Asistencia
      </ion-button>

      <ion-button color="secondary" expand="block" class="button-item" mode="ios" (click)="goToEscanear()">
        <ion-icon name="scan-outline" slot="start"></ion-icon>
        Escanear Código
      </ion-button>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="secondary" mode="md">
    <ion-buttons slot="start" (click)="goToPerfilEstudiante()">
      <ion-button>
        <ion-icon name="person-outline" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" (click)="goToHorario()">
      <ion-button>
        <ion-icon name="calendar-outline" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>

<style>
  .background-image {
    --background: url('assets/img/background.jpg') no-repeat center center / cover;
    height: 100%;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px;
  }

  .button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    width: 100%;
    max-width: 400px;
  }

  ion-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }
</style>