<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text="" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title mode="md" class="ion-text-center">Inicio Sesion Docente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background-image">
  <div class="form-container">
    <form #miForm="ngForm" (ngSubmit)="enviar()">
      <div class="input-container">
        <ion-item>
          <ion-label position="floating">Correo Institucional</ion-label>
          <ion-input type="text" required placeholder="" name="usuario" [(ngModel)]="usr.username"></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" required placeholder="" name="pass" [(ngModel)]="usr.password"></ion-input>
        </ion-item>
      </div>

      <ion-button type="submit" expand="block" fill="solid" color="tertiary" [disabled]="miForm.invalid">
        Iniciar Sesión
      </ion-button>

      <!-- Botón para Recuperar Contraseña con el mismo estilo -->
      <ion-button expand="block" fill="clear" color="tertiary" (click)="goToRestablecer()">
        Recuperar Contraseña
      </ion-button>

      <ion-text color="primary">
        <h4 *ngIf="mensaje">{{ mensaje }}</h4>
      </ion-text>
    </form>
  </div>
</ion-content>

<!-- Footer en la parte inferior de la pantalla -->
<ion-footer>
  <ion-toolbar color="secondary" mode="md">
  </ion-toolbar>
</ion-footer>

<style>
  /* Imagen de fondo */
  .background-image {
    --background: url('assets/img/background.jpg') no-repeat center center / cover;
    height: 100%;
  }

  /* Contenedor del formulario centrado */
  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */
    height: 100%; /* Ocupa todo el alto de la pantalla */
    padding: 20px; /* Espacio alrededor del contenido */
  }

  /* Estilo específico para el contenedor del formulario */
  .input-container {
    background-color: white; /* Fondo blanco solo para el formulario */
    border-radius: 8px; /* Bordes redondeados del formulario */
    padding: 20px; /* Espacio interno */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra para un efecto de elevación */
    width: 100%; /* Para que ocupe el ancho del contenedor */
    max-width: 400px; /* Ancho máximo del formulario */
  }

  /* Estilo para el footer */
  ion-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }
</style>
