<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/pagina-estudiante" text="" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title mode="md" class="ion-text-center">Escaner</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="camera-background">
  <div class="camera-container">
    <div class="fake-camera">
      <ion-icon name="camera-outline" size="large"></ion-icon>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="secondary">
  </ion-toolbar>
</ion-footer>
