<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Escáner QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-padding">
      <ion-col size="12" size-md="6">
        <!-- Botón para iniciar el escaneo -->
        <ion-button expand="block" color="primary" (click)="scan()">Escanear</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <!-- Lista de códigos escaneados -->
        <ion-list *ngIf="barcodes.length > 0">
          <ion-item *ngFor="let barcode of barcodes">
            <ion-label>
              <h2>{{ barcode.displayValue }}</h2>
              <p>Tipo: {{ barcode.format }}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
