/* Hide all elements when barcode scanner is active */
body.barcode-scanner-active {
  visibility: hidden;
  --background: transparent;
  --ion-background-color: transparent;
}

/* Show the barcode scanner modal */
.barcode-scanner-modal {
  visibility: visible;
  --background: transparent;
  --ion-background-color: transparent;
}

/* Ensure that dark mode is properly styled */
@media (prefers-color-scheme: dark) {
  .barcode-scanner-modal {
    --background: transparent;
    --ion-background-color: transparent;
  }
}
