<ion-header>
  <ion-toolbar color="secondary">
    <ion-title mode="md" class="ion-text-center">Secciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background-image">
  <ion-list>
    <ion-item *ngFor="let seccion of secciones" (click)="verDetalle(seccion)">
      <ion-label>
        <h2>{{ seccion.codigo }}</h2>
        <p>Descripción: {{ seccion.descripcion }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<!-- Footer con un botón para ver el perfil y otro para ver el calendario -->
<ion-footer>
  <ion-toolbar color="secondary" mode="md">
    <ion-buttons slot="start">
      <ion-button (click)="irAperfil()">
        <ion-icon name="person-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="irAcalendario()">
        <ion-icon name="calendar-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>

<style>
  /* Imagen de fondo */
  .background-image {
    --background: url('assets/img/background.jpg') no-repeat center center / cover;
    height: 100%;
  }

  /* Estilo de lista */
  ion-list {
    margin: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }

  ion-item {
    --padding-start: 16px;
    --padding-end: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  ion-label h2 {
    font-size: 18px;
    font-weight: bold;
  }

  ion-label p {
    font-size: 14px;
    color: #666;
  }
</style>
