<ion-header>
  <ion-toolbar color="secondary">
    <ion-title mode="md" class="ion-text-center">RegistrAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background-image">
  <div id="container">
    <div class="button-container">
      <ion-button color="tertiary" class="button-item" mode="ios" (click)="goToEstudiantes()">
        <ion-icon name="school-outline" slot="start"></ion-icon>
        Estudiantes
      </ion-button>

      <ion-button color="secondary" class="button-item" mode="ios" (click)="goToDocentes()">
        <ion-icon name="person-outline" slot="start"></ion-icon>
        Docentes
      </ion-button>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="secondary" mode="md">
  </ion-toolbar>
</ion-footer>

<style>
  .background-image {
    --background: url('assets/img/background.jpg') no-repeat center center / cover;
    height: 100%;
  }

  ion-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }

  #container {
    color: white;
    text-align: center;
    padding-top: 80px;
  }

  .button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px;
  }

  .button-item {
    flex: 1;
    max-width: 150px;
    text-align: center;
  }

  ion-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }
</style>