<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/pagina-docente" text="" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title mode="md" class="ion-text-center">Generar QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background-image">
  <div class="content-container">
    <!-- Sección de selección de sección -->
    <ion-item>
      <ion-label>Seleccionar Sección</ion-label>
      <ion-select [(ngModel)]="seccionSeleccionada" placeholder="Selecciona una sección">
        <ion-select-option value="seccion1">D384</ion-select-option>
        <ion-select-option value="seccion2">E983</ion-select-option>
        <ion-select-option value="seccion3">E409</ion-select-option>
        <ion-select-option value="seccion3">F202</ion-select-option>
        <ion-select-option value="seccion3">G103</ion-select-option>
        <!-- Agrega más opciones si es necesario -->
      </ion-select>
    </ion-item>

    <!-- Sección para seleccionar fecha -->
    <div class="date-picker-container">
      <ion-datetime 
        display-format="MM/DD/YYYY" 
        [(ngModel)]="fechaSeleccionada" 
        placeholder="Selecciona una fecha">
      </ion-datetime>
    </div>

    <!-- Botón para generar QR -->
    <ion-button expand="block" color="primary" (click)="onGenerarQR()">
      GENERAR CÓDIGO QR
    </ion-button>

    <!-- Mostrar el QR generado -->
    <div *ngIf="mostrarCodigoQR" class="qr-container">
      <qrcode [qrdata]="config.data" [width]="256"></qrcode>
      <ion-button expand="block" color="primary" (click)="onBorrarQR()">
        BORRAR QR
      </ion-button>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="secondary" mode="md"></ion-toolbar>
</ion-footer>

<style>
  .background-image {
    --background: url('assets/img/background.jpg') no-repeat center center / cover;
    height: 100%;
  }

  .schedule-container {
    padding: 20px;
  }

  ion-card {
    margin-bottom: 15px;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
</style>
