<ion-header>
  <ion-toolbar color="secondary">
    <ion-title mode="md" class="ion-text-center">Codigo QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background-image">
  <div class="content-container">
    <ion-button expand="block" color="primary" (click)="onGenerarQR()">
      GENERAR CÓDIGO QR
    </ion-button>

    <ion-button expand="block" color="primary" (click)="onVerAsistencia()">
      VER ASISTENCIA
    </ion-button>

    <div *ngIf="mostrarCodigoQR" class="qr-container">
      <!-- Aquí se muestra el código QR -->
      <qrcode [qrdata]="config.data" [width]="256"></qrcode>
      <ion-button expand="block" color="primary" (click)="onBorrarQR()">
        BORRAR QR
      </ion-button>
    </div>

    <div class="date-picker-container">
      <ion-datetime 
        display-format="MM/DD/YYYY" 
        [(ngModel)]="fechaSeleccionada" 
        placeholder="Selecciona una fecha">
      </ion-datetime>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="secondary" mode="md"></ion-toolbar>
</ion-footer>

<style>
  /* Estilos aquí */
</style>
